<header class="header">
   <div class="max-w-6xl mx-auto px-5">
      <div class="flex justify-end items-center py-5">
         <img src="./images/menu.svg" alt="" class="md:hidden">
      </div>
      <div class="flex justify-end items-center">
         <ul class="hidden md:flex md:space-x-4">
            <li>
               <a routerLink="/" class="active:text-[#FF6464]">Home</a>
            </li>
            <li>
               <a routerLink="/work" class="active:text-[#FF6464]">Works</a>
            </li>
            <li>
               <a routerLink="/blog" class="active:text-[#FF6464]">Blog</a>
            </li>
            <li>
               <a routerLink="/contact" class="active:text-[#FF6464]">Contact</a>
            </li>
         </ul>
      </div>
   </div>
</header>