<section class="post">
   <div class="max-w-5xl mx-auto px-5">
      <h1 class="text-3xl font-bold py-4">Post</h1>
      <div class="space-y-8">
         <div class="grid md:grid-cols-[246px,auto] gap-8 border-b py-6">
            <div>
               <img src="./images/Rectangle 30.jpg" alt="" class="rounded w-full">
            </div>
            <div>
               <h3>
                  <a routerLink="/workDetail" class="text-3xl text-[#21243D] font-bold">Designing Dashboards</a>
                  <div class="flex items-center space-x-4  py-4">
                     <span
                        class="inline-block py-1 px-2 bg-[#142850] text-lg font-bold text-white rounded-full">2020</span>
                     <span class="text-xl text-[#8695A4] font-normal">Dashboard</span>
                  </div>
               </h3>
               <p class="w-[549px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                  officia
                  consequat duis
                  enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
         </div>
         <div class="grid md:grid-cols-[246px,auto] gap-8 border-b py-6">
            <div>
               <img src="./images/Rectangle 30.jpg" alt="" class="rounded w-full object-cover">
            </div>
            <div>
               <h3>
                  <a routerLink="/workDetail" class="text-3xl text-[#21243D] font-bold">Designing Dashboards</a>
                  <div class="flex items-center space-x-4  py-4">
                     <span
                        class="inline-block py-1 px-2 bg-[#142850] text-lg font-bold text-white rounded-full">2020</span>
                     <span class="text-xl text-[#8695A4] font-normal">Dashboard</span>
                  </div>
               </h3>
               <p class="w-[549px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                  officia
                  consequat duis
                  enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
         </div>
         <div class="grid md:grid-cols-[246px,auto] gap-8 border-b py-6">
            <div>
               <img src="./images/Rectangle 30.jpg" alt="" class="rounded w-full object-cover">
            </div>
            <div>
               <h3>
                  <a routerLink="/workDetail" class="text-3xl text-[#21243D] font-bold">Designing Dashboards</a>
                  <div class="flex items-center space-x-4  py-4">
                     <span
                        class="inline-block py-1 px-2 bg-[#142850] text-lg font-bold text-white rounded-full">2020</span>
                     <span class="text-xl text-[#8695A4] font-normal">Dashboard</span>
                  </div>
               </h3>
               <p class="w-[549px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                  officia
                  consequat duis
                  enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
         </div>
         <div class="grid md:grid-cols-[246px,auto] gap-8 border-b py-6">
            <div>
               <img src="./images/Rectangle 30.jpg" alt="" class="rounded w-full object-cover">
            </div>
            <div>
               <h3>
                  <a routerLink="/workDetail" class="text-3xl text-[#21243D] font-bold">Designing Dashboards</a>
                  <div class="flex items-center space-x-4  py-4">
                     <span
                        class="inline-block py-1 px-2 bg-[#142850] text-lg font-bold text-white rounded-full">2020</span>
                     <span class="text-xl text-[#8695A4] font-normal">Dashboard</span>
                  </div>
               </h3>
               <p class="w-[549px]">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                  officia
                  consequat duis
                  enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            </div>
         </div>
      </div>
   </div>
</section>