<section class="bg-[#EDF7FA] py-6">
   <div class="max-w-6xl mx-auto px-5">
      <div class="flex items-center justify-between py-3">
         <h2 class="text-[22px] font-normal">Recent posts</h2>
         <a href="#" class="text-[#00A8CC] text-base">View all</a>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
         <div class="bg-white rounded p-4">
            <h2 class="text-[26px] font-bold text-[#21243D]">Making a design system from scratch</h2>
            <div class="flex space-x-4 py-4">
               <span>12 Feb 2020</span>
               <span>|</span>
               <a href="">Design, Pattern</a>
            </div>
            <p class="text-base">
               Amet minim mollit non deserunt ullamco est sit aliqua dolor do
               amet sint. Velit officia consequat duis enim velit mollit.
               Exercitation veniam consequat sunt nostrud amet.
            </p>
         </div>
         <div class="bg-white rounded p-4">
            <h2 class="text-[26px] font-bold text-[#21243D]">Making a design system from scratch</h2>
            <div class="flex space-x-4 py-4">
               <span>12 Feb 2020</span>
               <span>|</span>
               <a href="">Design, Pattern</a>
            </div>
            <p class="text-base">
               Amet minim mollit non deserunt ullamco est sit aliqua dolor do
               amet sint. Velit officia consequat duis enim velit mollit.
               Exercitation veniam consequat sunt nostrud amet.
            </p>
         </div>
      </div>
   </div>
</section>